/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background: #ccc;
  margin: 0;
  font-size: 12px;
  float: none;
  display: block;
  text-align: center;
  line-height: baseline;
}

#left {
  background: #666;
  color: white;
  width: 33.33%;
  float: left;
  padding: 3em;
}

#middle {
  background: #888;
  color: white;
  width: 33.33%;
  float: left;
  padding: 3em;
}

#right {
  background: #666;
  color: white;
  width: 33.33%;
  float: left;
  padding: 3em;
}

#full {
  background: #eee;
  width: 100%;
  margin: 2em 0;
  float: left;
  padding: 2em 0;
  height: 20em;
  clear: both;
  overflow: auto;
}

#division {
  margin-top: 15px;
  width: 100%;
  background: #6ea3da;
  font-align: right;
  padding: 2em 0;
}

aside {
  float: left;
  margin-left: 2em;
  height: 200px;
  width: 33.3333%;
  background: white;
  padding: 20px;
}

footer {
  clear: both;
  float: left;
  width: 100%;
  background-color: #ccc;
  margin: .1em 0 1em 0;
  padding: 2em 0;
}
